<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ball Fuzz Tennis Center</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-custom fixed-top shadow">
        <div class="container">
            <a class="navbar-brand" href="/">Ball Fuzz Tennis Center</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/items/shop">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">Calendar</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Reserve
                        </a>

                        <% if (loggedIn) { %>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="reserve-court">Reserve a Court</a>
                            <a class="dropdown-item" href="reserve-lesson">Reserve a Lesson</a>
                        </div>

                        <% } else { %>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/users/signin">Reserve a Court</a>
                            <a class="dropdown-item" href="/users/signin">Reserve a Lesson</a>
                        </div>

                        <% } %>

                    </li>

                </ul>
                
                <ul class="navbar-nav ml-auto"></ul>

                <% if (loggedIn) { %>

                    <li class="navbar-nav nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Signed in as <%= currentUser.name.first %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="<%= `/users/${currentUser._id}` %>">Profile</a>

                            <% if (currentUser.role == 'admin') { %>

                            <a class="dropdown-item" href="/admin-dashboard">Admin Dashboard</a>

                            <% } %>

                            <a class="dropdown-item" href="/users/signout">Log Out</a>
                        </div>
                    </li>

                <% } else { %>

                    <li class="navbar-nav nav-item">
                        <a class="nav-link" href="/users/signin">Sign In</a>
                    </li>

                    <li class="navbar-nav nav-item navbar-signin-option-divider">
                        - or -
                    </li>

                    <li class="navbar-nav nav-item">
                        <a class="nav-link" href="/users/new">Join Us!</a>
                    </li>

                <% } %>

                </ul>
                
            </div>
        </div>
    </nav>
    
    <div class="flashes">
        <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="flash success flash-div"><%= flashMessages.success %></div>
          <% } else if (flashMessages.error) { %>
            <div class="flash error flash-div"><%= flashMessages.error %></div>
          <% } %>
        <% } %>
    </div>

    <div class="container">
        <%- body %>
    </div>
    
  
</body>

<footer>
    <h6> Let's Play Tennis</h6>
    <p class="sitefooter">© 2021 by RD and JF. All Rights Reserved. BallFuzz Tennis Center is proud to serve the Colorado tennis community!</p>

</footer>

</html>