<div>
    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <div class="standard-div">
        
        <% if (loggedIn) { %>
            <h1><%= currentUser.fullName %></h1>
        <% } else { %>
            <h1>You're not signed in!</h1>
            <a href="/signIn">Sign in here</a>
        <% } %>

        <% if (loggedIn) { %>

            <a href="/edit-profile">Edit Profile</a>
            <br>
            <a href="/change-password">Change Password</a>

            <div style="padding: 3%;">
                <div class="row col-sm-12">
                    <label col>First Name: <span><%= currentUser.name.first %></span></label>
                </div>

                <div class="row col-sm-12">
                    <label col>Last Name: <span><%= currentUser.name.last %></span></label>
                </div>

                <div class="row col-sm-12">
                    <label col>Username: <span><%= currentUser.username %></span></label>
                </div>

                <div class="row col-sm-12">
                    <label col>Email: <span><%= currentUser.email %></span></label>
                </div>

                <div class="row col-sm-12">
                    <label col>Address: 
                        <span>
                            <%= currentUser.street %>, <%= currentUser.city %>, <%= currentUser.state %> <%= currentUser.zipcode %>
                        </span>
                    </label>
                </div>

                <div class="row col-sm-12">
                    <label col>Gender: <span><%= currentUser.gender %></span></label>
                </div>

                <div class="row col-sm-12">
                    <label col>Date of Birth: <span><%= currentUser.dob.toDateString() %></span></label>
                </div>
            </div>

        <% } %>

    </div>

    <% if (loggedIn) { %>

    <div class="standard-div" style="margin-top: 30px;">
        
        <h1 style="margin-bottom: 20px;">Reservations</h1>

        <div class="standard-div shadow" style="padding: 2%; background-color: #c54444;">
            
            <h2 style="color: white;">Court Reservations</h2>

            <div class="list-group list-group-custom">

                <% courtReservations.forEach(reservation => { %>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-size: 2rem;"><%= reservation.date %></h5>
                  </div>
                  <p class="mb-1" style="font-size: 1.5rem; color: navy;"><%= reservation.startTime %> to <%= reservation.endTime %></p>
                  <small style="font-size: 1rem;">
                    <% if (reservation.ballMachine) { %>
                        With Ball Machine
                    <% } %>
                  </small>
                </a>

                <% }); %>

            </div>
        </div>

        <div class="standard-div shadow" style="padding: 2%; background-color: #c54444; margin-top: 10px;">
            
            <h2 style="color: white;">Lesson Reservations</h2>

            <div class="list-group list-group-custom">

                <% lessonReservations.forEach(reservation => { %>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-custom">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-size: 2rem;"><%= reservation.date %></h5>
                  </div>
                  <p class="mb-1" style="font-size: 1.5rem; color: navy;"><%= reservation.startTime %> to <%= reservation.endTime %></p>
                  <small></small>
                </a>

                <% }); %>

            </div>
        </div>

    </div>

    <% } %>

    <script src="js/view-profile.js"></script>

</div>