<div class ="form-data">

    <header>
        <a href="/"> BallFuzz.Tennis</a>
    </header>

    <div class="standard-div div-admin-edit-item">

        <form class="form-admin-edit-item" method ="POST" action="<%= `/items/${item._id}/update?_method=PUT` %>">
            <label for ="manufacturer">Manufacturer</label>
            <input type = "text" name ="manufacturer" id ="manufacturer" value="<%= item.manufacturer %>" autofocus required>
    
            <label for ="model">Model</label>
            <input type = "text" name ="model" id ="model" value="<%= item.model %>" required>
    
            <label for ="price">Price</label>
            <input type = "number" name ="price" id ="price" value="<%= item.price %>" required>
    
            <label for ="image">Image URL</label>
            <input type = "text" name ="image" id ="image" value="<%= item.image %>" required>
    
            <label for ="quantity">Quantity</label>
            <input type="number" name ="quantity" id ="quantity" value="<%= item.quantity %>" required>
    
            <button class="btn btn-lg btn-primary btn" type ="submit">Update</button>
    
        </form>

    </div>
</div>